@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Cedarville+Cursive&display=swap');

:root {
    --main-color: rgb(201, 243, 29);
    --primary-color: rgb(255, 255, 255);
    --card: rgb(29, 29, 29);
    --gray: rgb(153, 153, 153);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Kanit", sans-serif;
    /* font-weight: 100; */
}

.fa-user-circle-o {
    /* color: white; */
}

body {
    background-color: rgb(0, 0, 0);
    width: 100%;
    color: var(--primary-color);
}

#header {
    background-image: url("/asset/banner-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    /* position: relative; */
    padding-top: 100px;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
    border-bottom: 1px solid rgb(38, 37, 37);
    position: fixed;
    top: 0;
    width: 100%;
    transition: background-color 0.5s ease;
    transition: padding 1s ease;
    z-index: 1000;
}

/* Change the background color to black when the navigation bar is scrolled */
.nav-bar.scrolled {
    background-color: black;
}

.logo {
    width: clamp(20px, 20%, 100px);
}

.desktop-nav-list {
    display: none;
}

.mobile-nav-list {
    display: none;
    position: absolute;
    top: 79px;
    left: 0;
    background-color: black;
    width: 100%;
    z-index: -1;
    height: 100vh;
    padding: 10px;
    font-size: 20px;
    font-weight: 300;
}

.mobile-nav-list.show {
    display: block;
}

.mobile-nav-list.show {
    display: block;
}

.mobile-nav-list li {
    padding: 10px 0;
    border-top: 1px solid rgba(128, 128, 128, 0.385);
}

.mobile-nav-list li:nth-child(1) {
    border: none;
}

.mobile-nav-list #service-sub {
    display: none;
}

.mobile-nav-list #blog-sub {
    display: none;
}

.mobile-nav-list .active {
    top: 79px;
}

li {
    list-style: none;
}

li a:hover {
    color: var(--main-color);
}

li a {
    text-decoration: none;
    color: var(--primary-color);
    text-transform: uppercase;
    transition: all 1s ease;
}

.lets-talk-btn {
    background-color: var(--main-color);
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.fa-arrow-right {
    margin: 5px;
    font-size: 20px;
}

.lets-talk-btn a {
    text-decoration: none;
    font-size: 20px;
}

#show-contact {
    color: black;
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
}

#mobile-show-menu {
    color: var(--primary-color);
    font-size: 20px;
}

.nav-bar aside {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#mobile-close-menu {
    display: none;
    font-size: 30px;
}

#close-contact {
    background-color: var(--main-color);
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 5px;
}

.contact-side-bar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 25rem;
    align-items: end;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: -150%;
    padding: 20px;
    transition: 0.5s;
    background-color: black;
}

.contact-side-bar .container {
    margin: auto;
    display: grid;
    gap: 2rem;
}

.contact-side-bar .title {
    color: var(--gray);
}

.contact-side-bar .container a {
    color: white;
    text-decoration: none;
}


.contact-side-bar .container .Contact-social-media {
    display: flex;
    width: 100%;
}

.contact-side-bar .container .Contact-social-media a {
    flex: 1;
    color: var(--card);
}

.contact-side-bar .container i {
    padding: 20px;
    background-color: var(--main-color);
    border-radius: 100%;
}

.contact-side-bar #close-contact {
    color: var(--card);
}

.contact-side-bar .lets-talk-btn {
    margin: auto;
    width: 100%;
}

main {
    display: flex;
    justify-content: space-around;
    color: var(--primary-color);
    width: 100%;
    padding: 0 10px;
    transition: padding 1s ease;
    position: relative;
    /* margin-top: 100px; */
    gap: 2rem;
}

.sticky-left,
.sticky-right {
    display: none;
}

.scroll-down-arrow {
    width: 20px;
}

main .article-1 p {
    display: inline;
    font-size: clamp(50%, 3vw, 20px);
}

main article {
    display: flex;
    justify-content: center;
    align-items: center;
}

main div,
main article {
    flex: 1;
}

.article-1 {
    border-bottom: 1px solid white;
    width: fit-content;
    cursor: pointer;
}

.article-1:hover {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

.article-2 .fa-arrow-right {
    font-size: clamp(50%, 3vw, 20px);
}

main span {
    color: transparent;
    -webkit-text-stroke: 1.5px white;
    position: relative;
    font-size: clamp(100%, 5vw, 80px);
}

main span::before {
    content: "Designer";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--main-color);
    color: var(--main-color);
    font-size: clamp(100%, 5vw, 80px);
    overflow: hidden;
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0% {
        width: 0;
    }

    90% {
        width: 100%;
    }
}

.article-2 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.article-2 p {
    font-size: clamp(50%, 3vw, 20px);
}

main .title {
    margin: 50px 0 0 0;
    font-size: clamp(100%, 5vw, 80px);
}

.main-article span {
    margin: 0 0 50px 0;
}

.fa-play {
    font-size: 20px;
    border: 2px solid white;
    padding: 20px;
    margin: 20px;
    border-radius: 100%;
}

.hero-image-container {
    display: flex;
    align-items: flex-end;
}

.hero-image {
    display: block;
    margin: 0 auto;
    width: clamp(80%, 5vw, 20px);
}


.main .main-article {
    flex: 1;
}

main .fa-arrow-right {
    transform: rotate(-45deg);
    font-size: 20px;
    position: relative;
}

.scroller-container {
    overflow: hidden;
    background-color: var(--main-color);
    padding: 20px;
    position: relative;
}

.scroll {
    max-width: 80%;
    display: flex;
    margin: 0 10px;
    position: relative;
    animation: scroll 10s linear infinite;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.scroll-2 {
    max-width: 80%;
    display: flex;
    margin: 0 10px;
    position: relative;
    animation: scroll2 10s linear infinite;
}

@keyframes scroll2 {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

#about {
    color: var(--primary-color);
    margin: 20px;
}

#about .title {
    font-size: clamp(30px, 3vw, 50px);
}

.about-star {
    display: block;
    margin: 20px auto;
}

.about-top {
    text-align: center;
}

.about-top p {
    font-size: clamp(20px, 5vw, 50px);
}

.main-about {
    background-image: url("/asset/about-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    width: 100%;
    margin: 50px 0;
}

.filter-container {
    margin: 50px 0;
}

.filter-container .filter {
    background-color: var(--card);
    color: var(--primary-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 5px 10px;
}


.filter-container .filter:focus {
    background-color: var(--main-color);
    color: var(--card);
}

.about-big-img {
    display: block;
    margin: auto;
    width: 80%;
    padding: 30px;
}

.about {
    display: none;
    padding: 40px;
}

.about .active {
    display: none;
}

.about .card-container .card {
    background-color: var(--card);
    margin: 10px 0;
    padding: 40px;
    border-radius: 10px;
    border: none;
    transition: all 0.5s ease-in-out;
    font-weight: 100;
}

.about .card:hover {
    border: 1px solid var(--main-color);
}

.about p {
    color: var(--gray);
    margin-bottom: 10px;
    font-weight: 200;
}

.about .card a {
    color: var(--primary-color);
    text-decoration: none;
}

.experience {
    display: none;
    padding: 40px;
}

.experience p {
    color: var(--gray);
    margin-bottom: 10px;
}

.experience .card {
    border-top: 0.5px solid var(--gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.experience .card div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.experience .last {
    border-bottom: 0.5px solid var(--gray);
}

.experience .card:hover {
    border-top: 0.5px solid var(--main-color);
}

.experience .card .year {
    color: var(--main-color);
}

.experience .last:hover {
    border-bottom: 0.5px solid var(--main-color);
}

.education {
    display: none;
    padding: 40px;
}

.education .edu-article {
    margin: 20px 0;
    text-align: start;
}

.education p {
    color: var(--gray);
}

.education .year {
    color: var(--main-color);
}

.education .card {
    border-top: 0.5px solid var(--gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.education .card div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.skill {
    display: none;
    padding: 40px;
}

.skill .card img {
    width: 7rem;

}

.skill .card {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 20px 0;
    background-color: var(--card);
    border-radius: 10px;
    padding: 40px;
    width: 100%;
}

.skill p {
    color: var(--gray);
}

.skill h4 {
    font-size: clamp(30px, 5vw, 50px);
}


.award {
    background-image: url('/asset/about-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

table {
    width: 100%;
    height: 100px;
    padding: 50px 10px;
}

table .view-mywork {
    text-align: end;
}

table a,
table i {
    text-decoration: none;
    color: var(--main-color);
}

table .title {
    font-size: 30px;
}

.year {
    text-align: end;
}

td {
    border-bottom: 1px solid gray;
}

td {
    padding: 20px 0;
    font-weight: 300;
    font-size: 20px;
}

#work .small-title-1 {
    color: var(--main-color);
    font-family: cursive;
    font-weight: 400;
    width: fit-content;
    margin: 20px auto;
    font-size: 30px;
}

#work .small-title-1::after {
    content: '';
    width: 40px;
    height: 1px;
    background-color: var(--main-color);
    display: block;
    position: relative;
    bottom: 17px;
    left: 102%;
}

#work .small-title-1::before {
    content: '';
    width: 40px;
    height: 1px;
    background-color: var(--main-color);
    display: block;
    position: relative;
    top: 23px;
    right: 45px;
}

#work .title-1 {
    font-size: 30px;
    text-align: center;
}

.products-container {
    padding: 10px;
}

#work .product-card img {
    width: 100%;
    display: block;
    margin: auto;
}


.product-card {
    margin: 30px 0;
    cursor: pointer;
}

.product-card .image-container {
    width: 100%;
}

.product-card:hover {
    .product-title .arrow-container {
        background-color: var(--main-color);
    }

    .arrow-container i {
        color: var(--card);
    }

    img {
        transform: scale(1.01);
    }

    .image-container {
        overflow: hidden;
    }
}

.product-card p {
    color: var(--main-color);
}

.product-card h3 {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
}

.product-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-title .arrow-container {
    background-color: var(--card);
    padding: 10px;
    border-radius: 5px;
}

.product-card i {
    transform: rotate(-45deg);
    color: var(--primary-color);
}

.product-card .image-container {
    margin-bottom: 20px;
}

.circle-btn-1 {
    background-color: var(--main-color);
    width: fit-content;
    padding: 20px;
    border-radius: 100%;
    height: 165px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    position: relative;
    color: var(--card);
    font-size: 20px;
    font-weight: 100;
}

.circle-btn-1::before {
    content: '';
    position: absolute;
    top: 10px;
    right: 15px;
    height: 160px;
    width: 160px;
    border-radius: 100%;
    border: 1px solid var(--main-color);
}

.need-a-project {
    background-image: url('/asset/about-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
}

.need-a-project .small-title-2 {
    color: var(--main-color);
    font-family: cursive;
    font-weight: 400;
    margin-left: 50px;
    font-size: 30px;

}

.need-a-project .small-title-2::before {
    content: '';
    width: 40px;
    height: 1px;
    background-color: var(--main-color);
    display: block;
    position: relative;
    top: 23px;
    right: 45px;
}

.need-a-project .title-2 {
    font-size: 30px;
    margin: 30px 0;
}

.need-a-work-contact {
    margin: 20px 0;
}

.need-a-project .email {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    padding: 10px 0;
    border-top: 1px solid rgba(128, 128, 128, 0.411);
    border-bottom: 1px solid rgba(128, 128, 128, 0.411);
    font-size: 20px;
    font-weight: 100;
}

.need-a-project .email i {
    background-color: var(--main-color);
    color: var(--card);
    padding: 15px;
    border-radius: 100%;
}

.need-a-project .location {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    font-size: 20px;
    font-weight: 100;
    padding: 10px 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.411);
}

.need-a-project .location i {
    background-color: var(--main-color);
    color: var(--card);
    padding: 15px;
    border-radius: 100%;
}

.need-a-work-image img {
    width: 80%;
    display: block;
    margin: auto;
}

.modal {
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100vh;
    position: fixed;
    bottom: auto;
    top: 0;
    display: flex;
    justify-content: center;
    font-size: 50px;
    z-index: 9999;
}

.modal-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
    padding: 50px;
}

.modal-image {
    width: 80%;
    display: block;
    margin: auto;
}

.modal-container .image-container {
    position: relative;
}

.modal .modal-container .close-modal {
    position: absolute;
    top: -40px;
    right: 50px;
    font-size: 30px;
    cursor: pointer;
}

#service {
    /* padding: 20px 10px; */
}

#service .small-title {
    color: var(--main-color);
    font-family: cursive;
    font-weight: 400;
    width: fit-content;
    margin: 20px auto;
    font-size: 30px;
}

#service .small-title::after {
    content: '';
    width: 40px;
    height: 1px;
    background-color: var(--main-color);
    display: block;
    position: relative;
    bottom: 17px;
    left: 102%;
}

#service .small-title::before {
    content: '';
    width: 40px;
    height: 1px;
    background-color: var(--main-color);
    display: block;
    position: relative;
    top: 23px;
    right: 45px;
}

#service .title {
    font-size: clamp(50%, 4vw, 100px);
    text-align: center;
    width: 70%;
    margin: 60px auto;
}

.service-card {
    margin: 20px 0;
    font-size: 20px;
    font-weight: 100;
    border-bottom: 1px solid rgba(128, 128, 128, 0.489);
    padding: 20px 0;
}

.service-container {
    padding: 20px 10px;
}

.service-container .one {
    border-top: 1px solid rgba(128, 128, 128, 0.489);
}

.service-container .one:hover {
    border-top: 1px solid var(--main-color);
}

.service-card:hover {
    border-bottom: 1px solid var(--main-color);

    .arrow-container {
        background-color: var(--main-color);
    }

    .arrow-container i {
        color: var(--card);
    }
}

.arrow-container {
    background-color: var(--card);
    width: fit-content;
    padding: 20px 10px;
    border-radius: 5px;
}

.sub-title {
    font-size: 30px;
    font-weight: 500;
    /* margin-left: 20px; */
}

.service-article {
    width: 70%;
}

.service-article .text {
    color: var(--gray);
}

.service-article .card-title {
    display: flex;
    gap: 1rem;
}

.arrow-container i {
    transform: rotate(-45deg);
}

.work-in-progress {
    background-image: url('/asset/about-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
}

.work-in-progress-container {
    padding: 10px;
}

.work-in-progress .small-title::after {
    content: '';
    width: 40px;
    height: 1px;
    background-color: var(--main-color);
    display: block;
    position: relative;
    bottom: 17px;
    left: 102%;
}

.work-in-progress .small-title::before {
    content: '';
    width: 40px;
    height: 1px;
    background-color: var(--main-color);
    display: block;
    position: relative;
    top: 23px;
    right: 45px;
}

.work-in-progress .title {
    font-size: clamp(20px, 5vw, 100px);
    text-align: center;
    width: 70%;
    margin: 60px auto;
}

.work-in-progress-card {
    margin: 20px 0;
    border: 0.5px solid rgba(128, 128, 128, 0.49);
    border-radius: 10px;
    padding: 40px;
    position: relative;
    overflow: hidden;
}

.work-in-progress-card:hover {
    border: 0.5px solid var(--main-color);

    .side-color {
        background-color: var(--main-color);
    }
}

.work-in-progress-card-title {
    font-size: 30px;
    font-family: 200;
    letter-spacing: 2px;
}

.work-in-progress-card .text {
    color: var(--gray);
}

.work-in-progress-card ul {
    margin: 20px 0;
    position: relative;
}

.work-in-progress-card li {
    margin-left: 40px;
    color: var(--gray);
}

.work-in-progress-card li::before {
    content: '';
    background-color: var(--main-color);
    width: 10px;
    height: 10px;
    border-radius: 100%;
    display: block;
    position: absolute;
    left: 20px;
    margin-top: 8px;
}

.side-color {
    width: 70px;
    height: 70px;
    background-color: black;
    border-radius: 100% 0 0 0;
    position: absolute;
    bottom: 0;
    right: 0;
}

#testimonial {
    padding: 50px 10px;
}

#testimonial .small-title {
    color: var(--main-color);
    font-family: cursive;
    font-weight: 400;
    width: fit-content;
    margin: 20px auto;
    font-size: 30px;
}

#testimonial .small-title::after {
    content: '';
    width: 40px;
    height: 1px;
    background-color: var(--main-color);
    display: block;
    position: relative;
    bottom: 17px;
    left: 102%;
}

#testimonial .small-title::before {
    content: '';
    width: 40px;
    height: 1px;
    background-color: var(--main-color);
    display: block;
    position: relative;
    top: 23px;
    right: 45px;
}

#testimonial .title {
    font-size: clamp(50%, 4vw, 100px);
    text-align: center;
    width: 50%;
    margin: 60px auto;
}

.quote-container {
    background-color: var(--card);
    background-image: url('/asset/about-bg.png');
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    position: relative;
    border-radius: 5px;
}

.reviewer .name {
    color: var(--main-color);
}

.circle-btn-2 {
    background-color: var(--main-color);
    width: fit-content;
    padding: 20px;
    border-radius: 100%;
    height: 165px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin: ; */
    position: relative;
    color: var(--card);
    font-size: 20px;
    font-weight: 100;
}
.circle-btn-2::before {
    content: '';
    position: absolute;
    top: 10px;
    right: 15px;
    height: 160px;
    width: 160px;
    border-radius: 100%;
    border: 1px solid var(--main-color);
}
#blog{
    background-image: url('/asset/about-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 10px;
    display: grid;
    gap: 2rem;
}
#blog img{
    width: 80%;
    display: block;
    margin: auto;
}

#blog .date{
    color: var(--gray);
    border: 1px solid rgba(128, 128, 128, 0.199);
    width: fit-content;
    padding: 10px;
    border-radius: 50px;
}

#blog .one{
    border-top: 1px solid rgba(105, 102, 102, 0.185);
}

#blog .blog-card{
    padding: 30px 0;
    border-bottom: 1px solid rgba(105, 102, 102, 0.185);
}

#blog .blog-card:hover{
    padding: 30px 0;
    border-bottom: 1px solid var(--main-color);
}
#blog .one:hover{
    border-top: 1px solid var(--main-color);
}

.blog-card-title{
    font-size: 25px;
    font-weight: 300;
    word-spacing: 2px;
    letter-spacing: 0.5px;
    margin: 20px 0;
}
#blog .small-title {
    color: var(--main-color);
    font-family: cursive;
    font-weight: 400;
    margin-left: 50px;
    font-size: 30px;
    margin-bottom: 20px;
}

#blog .small-title::before {
    content: '';
    width: 40px;
    height: 1px;
    background-color: var(--main-color);
    display: block;
    position: relative;
    top: 23px;
    right: 45px;
}

/* media screen start */
@media (max-width:640px) {
    .quote-container {
        overflow: hidden;
    }

    .quote-container .image-right {
        opacity: 0.1;
    }

    .quote-container .image-left {
        opacity: 0.1;
    }

    .review-container {
        position: absolute;
    }

    .review-scroll {
        display: flex;
        gap: 1.5rem;
        width: 1900px;
        animation: scrollAnimation 20s infinite;
        animation-timing-function: linear 15s;
        padding: 20px;
    }

    .quote {
        display: none;
    }

    .star {
        color: orange;
        margin-bottom: 20px;
    }

    .reviewer {
        margin-top: 20px;
    }

    @keyframes scrollAnimation {
        0% {
            transform: translateX(0);
        }

        33% {
            transform: translateX(0%);
        }

        66% {
            transform: translateX(-33%);
        }

        100% {
            transform: translateX(-67%);
        }
    }
}

@media (max-width: 370px) {
    .about .card {
        overflow: hidden;
        background-color: var(--card);
        margin: 10px 0;
        padding: 15px 20px;
    }

    .contact-side-bar {
        width: 100%;
    }
}

@media (min-width: 640px) {
    .nav-bar {
        padding: 20px 50px;
        transition: padding 1s ease;
    }

    main {
        padding: 0 50px;
        transition: padding 1s ease;
    }

    #about {
        margin: 50px 50px;
    }

    .about-big-img {
        width: 70%;
        display: block;
        margin: auto;
    }

    .award {
        padding: 50px;
    }

    .service-container {
        padding: 20px 50px;
    }

    .service-card {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .products-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        padding: 50px;
    }

    .work-in-progress-container {
        padding: 50px;
    }
    #testimonial{
        padding: 50px;
    }

    .quote-container {
        overflow: hidden;
    }

    .quote-container .image-right {
        z-index: 1000;
        display: flex;
        flex-direction: column;
        background-image: url('/asset/about-bg.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 40px;
    }

    .quote-container .image-left {
        z-index: 1000;
        display: flex;
        flex-direction: column;
        background-image: url('/asset/about-bg.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 40px;
    }

    .review-container {
        position: absolute;
        width: 100%;
        left: 20%;
        overflow: hidden;
        /* padding: 50px; */
    }

    .review-scroll {
        display: flex;
        gap: 1.5rem;
        width: 2300px;
        animation: scrollAnimation 20s infinite;
        animation-timing-function: linear 20s;
        font-size: 30px;
        padding: 20px;
    }

    .quote {
        display: block;
        position: absolute;
        width: 15%;
    }

    .star {
        color: orange;
        margin-bottom: 20px;
    }

    .reviewer {
        margin-top: 20px;
    }

    @keyframes scrollAnimation {
        0% {
            transform: translateX(0);
        }

        33% {
            transform: translateX(0%);
        }

        66% {
            transform: translateX(-33%);
        }

        100% {
            transform: translateX(-67%);
        }
    }
}

@media (min-width:768px) {
    .card-container {
        place-content: center;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        gap: 1rem;
    }

    .about-big-img {
        width: 50%;
        display: block;
        margin: auto;
    }

    .products-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        /* padding: 50px; */
    }

    .service-article {
        width: 100%;
        display: flex;
        gap: 3rem;
    }

    .service-article .card-title,
    .service-article .text {
        flex: 1;
    }

    .service-card {
        gap: 2rem;
    }

    .need-a-project {
        padding: 50px;
    }

    .work-in-progress-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}


@media (min-width: 1024px) {
    .desktop-nav-list {
        display: flex;
        gap: 1.5rem;
        font-size: clamp(5px, 2vw, 17px);
        font-weight: 300;
    }

    .desktop-service:hover {
        .desktop-service-sub {
            display: block;
            visibility: visible;
            opacity: 1;
        }
    }

    .desktop-service-sub {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: 60px;
        right: 45%;
        background-color: var(--primary-color);
        padding: 20px 80px 20px 20px;
        font-size: 12px;
    }

    .desktop-service-sub a {
        color: black;
    }

    .desktop-service-sub::before {
        content: '';
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        border-bottom: 15px solid var(--primary-color);
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        bottom: 75px;
        left: 20px;
    }

    .desktop-blog-sub {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: 60px;
        right: 32%;
        background-color: var(--primary-color);
        padding: 20px 80px 20px 20px;
        font-size: 12px;
    }

    .desktop-blog-sub a {
        color: black;
    }

    .desktop-blog-sub::before {
        content: '';
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        border-bottom: 15px solid var(--primary-color);
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        bottom: 75px;
        left: 20px;
    }

    .desktop-blog:hover {
        .desktop-blog-sub {
            visibility: visible;
            opacity: 1;
        }
    }

    #mobile-close-menu {
        display: none;
    }

    .mobile-nav-list {
        display: none;
    }


    #mobile-show-menu {
        display: none;
    }

    .mobile-nav-list.show {
        display: none;
    }

    @keyframes opacity {
        from {
            opacity: 0;
        }

        to {
            opacity: 100%;
        }
    }

    /* When the menu is open */

    #mobile-show-menu {
        display: none;
    }

    /* .service:hover{
    } */
    main .article-1 p {
        font-size: clamp(50%, 5vw, 30px);
    }

    .main-about {
        display: flex;
    }

    .card-container {
        place-content: center;
        margin: auto;
        display: block;
        gap: 1rem;
    }

    .main-about img {
        width: 50%;
        display: block;
        margin-top: 0;
    }

    .need-a-project .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .need-a-project div {
        flex: 1;
    }

    .need-a-work-image img {
        width: 80%;
        display: block;
        margin: auto;
    }

    .arrow-container {
        padding: 20px 15px;
    }

    .work-in-progress-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}

@media (min-width:1280px) {
    #about {
        width: 80rem;
        display: block;
        margin: auto;
    }


    .sticky-left,
    .sticky-right {
        display: none;
    }

    .sticky-left {
        display: block;
        position: absolute;
        left: 20px;
    }

    .sticky-left img {
        position: relative;
        bottom: 120px;
        right: 5px;
    }

    .number {
        transform: rotate(90deg);
        position: relative;
        right: 60px;
        bottom: 50px;
    }

    .sticky-left .scroll-down-arrow {
        top: 180px;
        right: 5px;
    }

    .scroll-donw p {
        transform: rotate(90deg);
        position: relative;
        top: 150px;
        right: 60px;
        color: var(--gray);
    }

    .sticky-right {
        display: block;
        position: absolute;
        right: 0;
        top: 180px;
    }

    .sticky-right p {
        transform: rotate(90deg);
        color: var(--gray);
        position: relative;
        bottom: 50px;
        right: 22px;
    }

    .sticky-right .scroll-down-arrow {
        width: 20px;
        position: relative;
        top: 5px;
        left: 10px;
    }

    .sticky-media {
        top: 30px;
        position: relative;
        display: grid;
        right: 20px;
    }

    .sticky-media a i {
        color: white;
        padding: 20px;
        background-color: var(--card);
        margin: 5px;
        border-radius: 50%;
    }

    .about .card-container {
        display: grid;
    }

    .skill .card-container {
        display: grid;
    }

    table {
        width: 70rem;
        height: 100px;
        margin: auto;
    }

    .arrow-container {
        padding: 20px;
    }
}

@media (min-width:1399px) {
    .logo {
        width: 10%;
    }

    .nav-bar {
        padding: 0;
    }

    .logo {
        padding: 20px;
        border-right: 1px solid rgb(38, 37, 37);
    }

    .nav-bar aside {
        padding: 10px;
        border-left: 1px solid rgb(38, 37, 37);
    }

    .lets-talk-btn {
        padding: 10px 30px;
    }

    .show-contact {
        padding: 30px 50px;
    }

    .products-container {
        width: 80rem;
        margin: auto;
    }

    .need-a-project .container {
        width: 80rem;
        margin: auto;
    }

    .service-container {
        width: 80rem;
        margin: auto;
    }

    .work-in-progress-container {
        width: 80rem;
        margin: auto;
    }

    .quote-container {
        width: 80rem;
        margin: auto;
    }
}